@import "_vars";
@import "_global";
@import "_fonts";

// start header__top

.header__top {
  background-color: #eef1f3;

  &-inner {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-info {
      display: flex;
      align-items: center;
    }
    &-btn {
      margin-right: 50px;
      transition: all 0.5s;
      border: 1px solid $blue;
      &:hover {
        color: $blue;
        background-color: transparent;
      }
    }
    &-icon + &-icon {
      margin-left: 33px;
    }
  }
}

.lnr {
  color: #7e8fa1;
  font-size: 20px;
  position: relative;
}

.amount {
  position: absolute;
  font-size: 14px;
  color: #fff;
  min-width: 28px;
  padding: 7px 7px;
  margin-right: -100%;
  margin-top: -100%;
  right: 0;
  border-radius: 50%;
  text-align: center;
}

.amount-red {
  background-color: $red;
}

.amount-green {
  background-color: $green;
}

.amount-blue {
  background-color: $blue;
}

.header__top-inner-user {
  display: flex;
  margin-left: 48px;
  align-items: center;

  &-picture {
    width: 50px;
    height: 50px;
  }

  &-image {
    object-fit: cover;
    border-radius: 50%;
  }

  &-info {
    display: flex;
    flex-direction: column;
    margin-left: 22px;
  }
}

.user-info-name {
  color: $text-grey;
  font-size: 16px;
  line-height: 22px;
}

.user-info-total {
  color: $blue;
  font-size: 15px;
  line-height: 22px;
}

// end header__top

// start header__bottom

.header__bottom-inner {
  display: flex;
  align-items: center;
  padding: 17px 0;
  position: relative;
}

.header__menu-items {
  display: flex;
  align-items: center;
}

.header__menu-item {
  font-family: "Quicksand-Medium" sans-serif;
  text-transform: uppercase;
  font-weight: 500;

  &-link {
    color: $text-grey;
    font-size: 15px;
    font-weight: 500;
  }
}

.header__menu-item + .header__menu-item {
  margin-left: 35px;
}

.header__search {
  margin-left: auto;
  margin-right: 0 !important;
  width: 360px;

  &-input {
    width: 100%;
    outline: transparent;
    padding: 13px 80px 13px 25px;
    border: 1px solid #d9dfe5;
    border-radius: 35px;

    &::placeholder {
      color: #898f96;
      font-size: 15px;
    }
  }
  &-btn {
    position: absolute;
    border: none;
    background-color: $blue;
    border-radius: 35px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
    height: 46px;
    cursor: pointer;
    outline: transparent;
  }
}

.lnr-magnifier {
  color: #fff;
  font-size: 15px;
  line-height: 46px;
}

// end header__bottom

// start header__content

.header__content {
  padding: 180px 0px;
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  //   padding-bottom: 180px;

  &-text {
    color: #fff;

    &-top {
      font-size: 60px;
      line-height: 70px;
      font-weight: 400;
      margin-bottom: 25px;
    }

    &-middle {
      font-size: 60px;
      line-height: 70px;
      font-weight: 700;
      margin-bottom: 48px;
    }

    &-bottom {
      margin-bottom: 72px;
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.header__content-button {
  transition: all 0.5s;
  font-size: 16px;
  &:hover {
    background-color: #fff;
    border: 1px solid transparent;
    color: $blue;
  }
}

.header__content-button + .header__content-button {
  margin-left: 30px;
}

// end header__content

// start search

.main {
  position: relative;
}

.search {
  position: absolute;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -70px;
  outline: transparent;
  width: 70%;
  padding: 40px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  border-radius: 6px;
}

.search__input {
  width: 100%;
  outline: transparent;
  padding: 0 25px 0 25px;
  border: 1px solid #d9dfe5;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: none;
  line-height: 46px;
}

.search__box-shadow-one {
  z-index: 1;
  position: absolute;
  height: 20px;
  width: 68%;
  background-color: rgba(255, 255, 255, 0.52);
  opacity: 0.502;
  left: 50%;
  transform: translateX(-50%);
  top: -85px;
  border-radius: 6px;
}
.search__box-shadow-two {
  position: absolute;
  height: 35px;
  width: 66%;
  background-color: rgba(255, 255, 255, 0.52);
  opacity: 0.502;
  left: 50%;
  transform: translateX(-50%);
  top: -100px;
  border-radius: 6px;
}

select {
  padding-left: 20px;
  padding-right: 72px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  font-size: 16px;
  line-height: 46px;
  color: #555555;
  border-color: #dcdcdc;
  background-image: url(../images/arrow-search.svg);
  background-repeat: no-repeat, repeat;
  background-position: right 20px top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.search__input-btn {
  font-size: 16px;
  padding: 14px 18px;
  text-align: center;
  margin-left: 30px;
  margin-right: 0;
  border-radius: 3px;
  min-width: 220px;
}

// end search

// start advantages

.advantages {
  padding-top: 185px;
}

.advantages__items {
  display: flex;
  text-align: center;
  margin-bottom: 120px;
}

.advantages__item {
  padding: 50px 44px;
  border-radius: 4px;
  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }

  &-pic {
    min-height: 124px;
    margin-bottom: 40px;
  }

  &-title {
    font-size: 24px;
    margin-bottom: 35px;
  }

  &-description {
    color: #555555;
    font-size: 16px;
    line-height: 30px;
  }
}

// end advantages

// start slider__weekly

.slider__weekly {
  background-color: $bg-grey;
  padding-top: 120px;
}

.slider__weekly-inner {
  padding-bottom: 120px;
}

.slider__weekly-item-content-link {
  color: inherit;
}

.slider__weekly-top {
  margin-bottom: 50px;


  &-arrows {
    background-color: $purple;
    color: #fff;
    border-radius: 22px;
    padding: 15px 25px;
  }
}

.slick-prev.slick-arrow {
  position: absolute;
  top: -125px;
  right: 116px;
  z-index: 5;
}

.slick-next.slick-arrow {
  position: absolute;
  top: -26%;
  right: 55px;
}

.lnr-chevron-left {
  margin-right: 43px;
}

.lnr-chevron-left,
.lnr-chevron-right {
  color: #fff;
  font-size: 14px;
}

.slider__weekly-item {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  display: flex !important;
}

.slider__weekly-item-content {
  padding: 50px 50px 25px 50px;

  &-title {
    font-size: 24px;
    font-family: "Quicksand-Medium", sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
  }
}

.slider__weekly-item-author {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.slider__weekly-item-author-profile {
  display: flex;
  align-items: center;
  margin-right: 20px;

  .author-name {
    margin-left: 10px;
    font-size: 15px;
    line-height: 30px;
  }
}

.slider__weekly-item-author-link {
  color: inherit;
}

.slider__weekly-item-author-products {
  display: flex;

  .author-products-title {
    margin-left: 10px;
    color: #7347c1;
    font-size: 15px;
    line-height: 30px;
  }
}

.slider__weekly-item-content-text {
  color: #555555;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 40px;
}

.slider__weekly-item-tags {
  margin-bottom: 44px;
}

.slider__weekly-item-tag {
  background-color: #f1f3f6;
  color: #868c96;
  font-size: 15px;
  line-height: 30px;
  border-radius: 15px;
  padding: 9px 17px;
}

.slider__weekly-item-tag + .slider__weekly-item-tag {
  margin-left: 7px;
}

.slider__weekly-details {
  border-top: 1px solid #ececec;
  display: flex;
  padding-top: 23px;
  align-items: center;
  font-size: 15px;

  .weekly-details-price {
    background-color: #0674ec;
    padding: 10px 20px;
    color: #fff;
    border-radius: 36px;
    margin-right: 20px;
  }

  .status-item-icon {
    margin-right: 10px;
  }

  .weekly-details-status {
    display: flex;
  }

  .weekly-details-status-item {
    display: flex;
    align-items: center;
  }

  .lnr-heart {
    color: #555555;
  }

  .count-like {
    color: #7347c1;
  }

  .lnr-cart,
  .count-cart {
    color: #0674ec;
  }

  .weekly-details-status-item + .weekly-details-status-item {
    margin-left: 20px;
  }

  .slider__weekly-details-rating {
    margin-left: auto;
  }
}

// end slider__weekly

// start products

.products {
  background-color: #f6f7fb;

  .products__inner {
    padding-top: 120px;
    padding-bottom: 30px;
  }

  .products__inner-top {
    position: relative;
    margin-bottom: 30px;
  }

  .products__inner-top-filter {
    color: #747b86;
    font-size: 16px;
    margin-left: auto;
    margin-right: 25px;
  }
}

.inner-top-filter-dots {
  cursor: pointer;
}

.inner-top-filter-items {
  display: none;
  position: absolute;
  right: 0;
  bottom: -145%;
  background-color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  margin-right: 7px;
  min-width: 170px;

  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 18px 8px;
    border-color: transparent transparent #fff transparent;
    top: -10px;
    right: 17px;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  }
}

.show {
  display: block;
}

.inner-top-filter-dot {
  background: none repeat scroll 0 0 #a3b1c4;
  height: 3px;
  width: 3px;
  line-height: 0;
  list-style: none outside none;
  margin-top: 3px;
  vertical-align: top;
  border-radius: 50%;
  pointer-events: none;
}

.inner-top-filter-link {
  transition: all 0.3s;
  color: inherit;
  color: #747b86;
  font-size: 15px;
  display: block;
  padding-left: 30px;
  padding-right: 30px;
}

.inner-top-filter-link:hover {
  color: #0674ec;
}

.inner-top-filter-link + .inner-top-filter-link {
  padding-top: 15px;
}

.inner-top-filter-link {
  display: block;
}

.products-category-items {
  padding: 30px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  background-color: #fff;
  margin-bottom: 50px;
}

.products-category-item {
  background-color: #f1f3f6;
  color: #868c96;
  font-size: 15px;
  line-height: 30px;
  border-radius: 15px;
  padding: 9px 17px;
  transition: all 0.3s;
}

.products-category-item:hover {
  background-color: #0674ec;
  color: #fff;
}

.products__cards-item-content {
  padding: 30px 30px 37px 30px;
}

.products__cards-item-author {
  display: flex;
}

.products__cards-item-content-title-link {
  color: inherit;
  font-size: 20px;
  margin-bottom: 20px;
}

.products__cards-item-author-profile {
  display: flex;
  align-items: center;
}

.products__cards-item-author-products {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.author-products-title {
  margin-left: 10px;
}

.products__cards-item-author-profile-link {
  color: inherit;
}

.product-author-image {
  margin-right: 7px;
  display: block;
}

.products__cards-item-content-text {
  font-size: 16px;
  color: #555555;
  margin-bottom: 35px;
}

.products__cards-item-details {
  border-top: 1px solid #ececec;
  padding-top: 15px;
  display: flex;
  align-items: center;
}

.products__cards-item-status,
.products__cards-status-item {
  display: flex;
}

.products__cards-item-price {
  background-color: #e6f1fd;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 15px;
  color: #0674ec;
  margin-right: 15px;
}

.status-item-icon {
  margin-right: 10px;
}

// end products
